h1{
    @extend %etiquetasH1yH2;
}

h2{
    @extend %etiquetasH1yH2;
}

h3{
    @include etiquetasHyP(map-get($tipografias, "tipografia-principal"), center, 30px, map-get($colores, "color-principal"));
}

h4{
    @include etiquetasHyP(map-get($tipografias, "tipografia-principal"), center, 50px, map-get($colores, "color-principal"));
}

h5{
    @include etiquetasHyP(map-get($tipografias, "tipografia-principal"), left, 16px, rgb(48, 48, 48));
    margin: 0px;
    line-height: 28px;
}

p{
    @include etiquetasHyP(map-get($tipografias, "tipografia-secundaria"), center, 18px, rgb(48, 48, 48));
}

ul{
    list-style-type: none;
}
