h1{
    @extend %etiquetasH;
}

h2{
    @extend %etiquetasH;
}

h3{
    font-family: map-get($tipografias, "tipografia-principal");
    text-align: center;
    font-size: 30px;
    margin: 3px;
}

h4{
    font-family: map-get($tipografias, "tipografia-principal");
    text-align: center;
    font-size: 50px;
    color: map-get($colores, "color-principal");
}

p{
    font-family: map-get($tipografias, "tipografia-secundaria");
    text-align: center;
    font-size: 18px; 
}

ul{
    list-style-type: none;
}
