*{
    margin: 0%;
    padding: 0%;
}

.containerSection{
    border: solid 10px rgb(255, 255, 255);
    line-height: 35px;
    border-radius: 40px;
}

.containerSectionDiv{
    @include displayFlex(row);
}

.containerSectionDiv2{
    @include displayFlex(row-reverse);
}

.containerTitulosIndex{
    @extend %containerTitulos;
}

.containerTitulos{
    @extend %containerTitulos;
    font-size: 35px;
}

.colorTitulos{
    color: map-get($colores, "color-principal");
}

.botonIndex{

    a{
        text-decoration: none;
        color: black;

        &:hover{
            text-decoration: underline;
        }
    }
}