header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.navegador{
    font-family: map-get($tipografias, "tipografia-principal");
    width: 100%; 
}

.navegador{

    ul{
        background: $gradiente-titulos;
        padding: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        li{
            display: inline;
            text-align: center;
            margin: 10px;
            padding: 12px;

            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 30px;
                font-weight: 500;
                
                &:hover{
                    color: map-get($colores, "color-principal");
                    text-decoration: underline;
                }
            }
        }
    }   
}

.logoHeader{
    height: 100px;
    width: 100px;
    border: solid 1px black;
    border-radius: 100%;
    margin: 7px;
    padding: 5px;
    overflow: hidden;
}