/* MEDIA QUERIES TABLET */

/* CONTENEDORES GENERALES */

@media screen and (max-width: 768px){
    .containerSectionDiv{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0%;
    }

    .containerSectionDiv2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

/* ETIQUETAS */

    h3{
        font-size: 24px;
    }

/* HEADER */

    .navegador ul{

        li{
            padding: 1px;
            margin: 1px;
        } 
    }

/* SECCION 2 (CLASES Y PROFESORES) */

    .cardsClases{
        height: 600px;
    }
}

/* MEDIA QUERIES MOBILE */

/* CONTENEDORES GENERALES */

@media screen and (max-width: 320px){
    .containerSectionDiv{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0%;    
    }

    .containerSection h2{
        font-size: 44px;
    }

/* HEADER */

    .navegador ul{

        li{
            padding: 1px;
            margin: 1px;
        } 
    }

/* ETIQUETAS */

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 45px;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-size: 40px;
    }

/* SECCION 0 */

    .containerFondo{
        height: 20rem;
    }
}