/* MEDIA QUERIES TABLET */

@media screen and (max-width: 768px){

/* ETIQUETAS */

    h3{
        font-size: 24px;
    }

    h5{
        font-size: 18px;
    }

/* HEADER */

    .navegador ul{

        li{
            padding: 1px;
            margin: 1px;
        } 
    }

/* SECCION 1 (PLANES) */

    .svgCheck{
        height: 27px;
        width: 27px;
    }
    
    .svgCruz{
        height: 27px;
        width: 27px;
    }

/* SECCION 2 (CLASES Y PROFESORES) */

    .cardsClases{
        height: 600px;
    }
}

/* MEDIA QUERIES MOBILE */

@media screen and (max-width: 320px){

/* CONTENEDORES GENERALES */

    .containerSectionDiv{
        flex-direction: column;
        gap: 50px;
        flex-wrap: wrap;
    }

    .containerSection h2{
        font-size: 44px;
    }

/* HEADER */

    .navegador ul{

        li{
            padding: 1px;
            margin: 1px;
        } 
    }

/* ETIQUETAS */

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 45px;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-size: 40px;
    }

    h5{
        font-size: 16px;
    }

/* SECCION 0 */

    .containerFondo{
        height: 20rem;
    }

/* SECCION 1 (PLANES) */

    .svgCheck{
        height: 25px;
        width: 25px;
    }
    
    .svgCruz{
        height: 25px;
        width: 25px;
    }
}