$colores: (
    "color-principal": rgba(255, 0, 0, 0.745),
    "color-secundario": rgb(219, 72, 72)
);

$tipografias: (
    "tipografia-principal": 'Staatliches' 'cursive',
    "tipografia-secundaria": 'Inter'
);

$gradiente-titulos: linear-gradient(45deg, rgb(255, 255, 255),rgba(255, 0, 0, 0.516), rgb(255, 255, 255));

$dimension-titulos: 60px;


